<?xml version="1.0"?>
<model>
  <name>miguel_with_ardupilot</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Miguel Carneiro</name>
    <email>miguelveigacarneiro@tecnico.ulisboa.pt</email>
  </author>

  <description>
    Fixed-wing aircraft model for Gazebo Harmonic + ArduPilot.
  </description>
</model>
